name: Java CI/CD with Maven - Build and Deploy WAR Tom cat

on:
  push:
    branches-ignore: [main, feature-dan]
    paths:
      - "src/main/**"
      - "src/test/**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
      - name: Run Unit Tests with Maven
        run: mvn clean test
      - name: Build with Maven
        run: mvn package
      - name: Upload WAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: servlet-war
          path: target/*.war
          if-no-files-found: error
